---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Instruction from '../components/Instruction.astro';
import Main from '../components/Main.astro';

const response = await fetch('./mock/annoucements.json');
const data = await response.json();
---

<Layout title="Announcements Page">
  <Navbar title="Announcements" />
  <Main>
    <Instruction>
      Be sure to check out important announcements from the center.
    </Instruction>

    <ul role="list" class="link-card-grid">
      {data.map(item => (
      <Card href={item.link} title={item.title} subTitle={item.date} body={item.description} />
      ))}
    </ul>
  </Main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
</style>