---
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Documents Page">
  <Navbar title="Documents" />
  <Main>
    <h3>No Data.</h3>
  </Main>
</Layout>