---
export interface Props {
	title: string,
	body: string,
	href: string,
	subTitle?: string,
}
const { href, title, subTitle, body } = Astro.props;
---

<li class="link-card">
	<a href={href} alt="Read more">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		{subTitle && <small>{subTitle}</small>}
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-position: 99%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		background-size: 400%;
		border-radius: 0.5rem;
	}

	.link-card>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		color: var(--text-color);
		padding: 2rem;
		border-radius: 0.5rem;
		background-color: var(--color-white);
		opacity: 0.8;
		box-shadow: var(--shadow-sm);
	}

	h2 {
		margin: 0;
		transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: var(--color-astro-violet);
	}

	.link-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}
</style>